doctype html
html(lang='en', xmlns='http://www.w3.org/1999/html')
head
	meta(charset='UTF-8')
	meta(name='viewport', content='width=device-width, initial-scale = 0.8, user-scalable = yes')
	meta(name='robots', content='noindex')
	meta(name='googlebot',content='noindex')
	meta(name='googlebot-news',content='nosnippet')
	link(href='//fonts.googleapis.com/css?family=Roboto' type='text/css' rel='stylesheet')
	link(href='//fonts.googleapis.com/css?family=Open+Sans' type='text/css' rel='stylesheet')
	title FullstackTest
	link(href='../assets/css/core.css', type='text/css', rel='stylesheet')
	link(href='/assets/css/mvp.css', type='text/css', rel='stylesheet', media='screen and (max-width: 768px)')
	link(href='/assets/css/mvp_wide.css', type='text/css', rel='stylesheet', media='screen and (min-width: 769px)')
	script(type="text/javascript",data-main="/assets/js/main",src="/assets/js/libs/require/require.js")
body
	#myApp
		.main
